*{
    margin: 0;
    padding: 0;
}

.header{
    background-image: url(images/donation13.jpg);
    height: 800px;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-position: top;
    background-blend-mode: overlay;
}
.main-title{
    font-size: 100px;
    padding-top: 200px;
    color: white;
    text-shadow: #333333;
    
}
.main-title-text{
    font-size: 40px;
    padding: 30px 300px;
    color: white;
}
.primary-btn{
    color: white;
    background-color:darkturquoise;
    border: 0;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}